{%extends 'base.html'%}


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% block content %}
{{block.super}}
<div class="container">

  <div class="row">
    {% for project in projects %}

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="clearfix">

      <strong><p>{{project.title}}</p></strong>
      <a href="{% url 'project' project.id %}"> <img src="{{project.image.url}}" class="img-responsive" alt="Image"></a>
      <p>{{project.description}}</p>
    </div>
  </div>
    {% empty %}

    <h2 class="text-center">There are no Projects yet</h2>

   {% endfor %}
</div>

</div>
 {%endblock%}
</body>
</html>
