{%extends 'base.html'%}
{% load static %}
{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:#FCFDFE">
{% block content %}
{{block.super}}

 <div class="container">

   <div class="row">
     <img src="{{project.image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1 class="text-center">{{project.title}}</h1>
   </div>

   <div class="row">
     <p>{{project.description}}</p>
     <p><a href="{{project.link}}"> {{project.link}}</a></p>
     <a  data-toggle="modal" data-target="#settings" aria-hidden="true"style="color:black;" ><button type="button" class="btn btn-info" name="button"> Rate</button></a>

<!-- <p><strong>design</strong>  {{project.design}} <strong>usability</strong>   {{project.usability}} <strong>content</strong>  {{project.content}}</p> -->

<p>Project design</p><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.design}}</div>
</div>
<p>Project usability</p><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.usability}}</div>
</div>
<p>Project content</p><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.content}}</div>
</div>

</div>
<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-body">
            <form  action="/project/{{project.id}}" method="post" enctype="multipart/form-data">
              {%csrf_token%}

              {% bootstrap_form form %}
              <input type="submit" class="btn btn-success btn-lg" value="Post">
            </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}

</body>
</html>
